.e618_2642 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e618_2643 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2644 { 
	width:230px;
	height:96px;
	position:absolute;
	left:88px;
	top:44px;
	background-image:url(../../../images/fluxo_aluno/vagas/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e618_2645 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:296px;
	height:36px;
	position:absolute;
	left:55px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e618_2646 { 
	width:272px;
	height:37.3583984375px;
	position:absolute;
	left:37px;
	top:330px;
}
.e618_2647 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:218px;
	height:30px;
	position:absolute;
	left:54px;
	top:4px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2648 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:34.2138671875px;
	height:37.3583984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2649 { 
	width:239px;
	height:30px;
	position:absolute;
	left:34px;
	top:386px;
}
.e618_2650 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2651 { 
	width:41px;
	height:17px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei618_2651_7_1326 { 
	width:32.960784912109375px;
	height:17px;
	position:absolute;
	left:8.039215087890625px;
	top:0px;
}
.ei618_2651_7_1327 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2651_7_1328 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2651_7_1329 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2651_7_1330 { 
	width:4.0196075439453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei618_2651_7_1331 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2651_7_1332 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2651_7_1333 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e618_2652 { 
	width:265px;
	height:32px;
	position:absolute;
	left:38px;
	top:435px;
}
.e618_2653 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:212px;
	height:30px;
	position:absolute;
	left:53px;
	top:1px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2654 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2655 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:32.00110626220703px;
	height:32.000389099121094px;
	position:absolute;
	left:-0.0006244080141186714px;
	top:-0.0000028132346869824687px;
}
.e618_2656 { 
	width:83px;
	height:30px;
	position:absolute;
	left:41px;
	top:1005px;
}
.e618_2657 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2658 { 
	width:25.670000076293945px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_2659 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:25.852235794067383px;
	height:27.988332748413086px;
	position:absolute;
	left:0.0015974711859598756px;
	top:-0.0011661897879093885px;
}

.e618_2660 { 
	width:281px;
	height:427px;
	position:absolute;
	left:476px;
	top:147px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2661 { 
	width:281px;
	height:427px;
	position:absolute;
	left:793px;
	top:147px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2662 { 
	width:281px;
	height:427px;
	position:absolute;
	left:1110px;
	top:147px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2663 { 
	width:281px;
	height:427px;
	position:absolute;
	left:1427px;
	top:147px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e618_2664 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:369px;
	height:54px;
	position:absolute;
	left:476px;
	top:57px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e618_2665 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:496px;
	top:175px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2666 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:813px;
	top:175px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2667 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:1130px;
	top:175px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2668 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:1447px;
	top:175px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2669 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:496px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2670 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:813px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2671 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:1130px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2672 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:1447px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2673 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:496px;
	top:253px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2674 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:813px;
	top:253px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2675 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:1130px;
	top:253px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2676 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:1447px;
	top:253px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2677 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:584px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2678 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:901px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2679 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:1218px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2680 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:1535px;
	top:336px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2681 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:209px;
	height:29px;
	position:absolute;
	left:496px;
	top:211px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2682 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:193px;
	height:29px;
	position:absolute;
	left:813px;
	top:211px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2683 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:136px;
	height:29px;
	position:absolute;
	left:1130px;
	top:211px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2684 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:104px;
	height:29px;
	position:absolute;
	left:1447px;
	top:211px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2685 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:52px;
	height:29px;
	position:absolute;
	left:496px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2686 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:70px;
	height:29px;
	position:absolute;
	left:813px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2687 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:70px;
	height:29px;
	position:absolute;
	left:1130px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2688 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:52px;
	height:29px;
	position:absolute;
	left:1447px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2689 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:496px;
	top:294px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2690 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:813px;
	top:294px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2691 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:1130px;
	top:294px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2692 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:1447px;
	top:294px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2693 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:584px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2694 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:901px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2695 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:1218px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2696 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:153px;
	height:29px;
	position:absolute;
	left:1535px;
	top:381px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2697 { 
	width:154px;
	height:29px;
	position:absolute;
	left:496px;
	top:424px;
}
.e618_2698 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2699 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:0px;
	top:4px;
}
.e618_2700 { 
	width:154px;
	height:29px;
	position:absolute;
	left:813px;
	top:424px;
}
.e618_2701 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2702 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:0px;
	top:4px;
}
.e618_2703 { 
	width:154px;
	height:29px;
	position:absolute;
	left:1130px;
	top:424px;
}
.e618_2704 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2705 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:0px;
	top:4px;
}
.e618_2706 { 
	width:154px;
	height:29px;
	position:absolute;
	left:1447px;
	top:424px;
}
.e618_2707 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2708 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:0px;
	top:4px;
}
.e618_2709 { 
	width:93px;
	height:29px;
	position:absolute;
	left:496px;
	top:468px;
}
.e618_2710 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2711 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:0px;
	top:3px;
}

.e618_2712 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2713 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2714 { 
	width:93px;
	height:29px;
	position:absolute;
	left:813px;
	top:468px;
}
.e618_2715 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2716 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:0px;
	top:3px;
}

.e618_2717 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2718 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2719 { 
	width:93px;
	height:29px;
	position:absolute;
	left:1130px;
	top:468px;
}
.e618_2720 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2721 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:0px;
	top:3px;
}

.e618_2722 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2723 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2724 { 
	width:93px;
	height:29px;
	position:absolute;
	left:1447px;
	top:468px;
}
.e618_2725 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2726 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:0px;
	top:3px;
}

.e618_2727 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2728 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2729 { 
	width:116px;
	height:29px;
	position:absolute;
	left:491px;
	top:510px;
}
.e618_2730 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:37px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2731 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_2732 { 
	width:97px;
	height:29px;
	position:absolute;
	left:808px;
	top:510px;
}
.e618_2733 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:60px;
	height:29px;
	position:absolute;
	left:37px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2734 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_2735 { 
	width:97px;
	height:29px;
	position:absolute;
	left:1125px;
	top:510px;
}
.e618_2736 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:60px;
	height:29px;
	position:absolute;
	left:37px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2737 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_2738 { 
	width:116px;
	height:29px;
	position:absolute;
	left:1442px;
	top:510px;
}
.e618_2739 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:37px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2740 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_2741 { 
	width:1235px;
	height:427px;
	position:absolute;
	left:476px;
	top:609px;
}

.e618_2742 { 
	width:281px;
	height:427px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2743 { 
	width:281px;
	height:427px;
	position:absolute;
	left:317px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2744 { 
	width:281px;
	height:427px;
	position:absolute;
	left:634px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.e618_2745 { 
	width:281px;
	height:427px;
	position:absolute;
	left:951px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e618_2746 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:20px;
	top:28px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2747 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:337px;
	top:28px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2748 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:654px;
	top:28px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2749 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:82px;
	height:32px;
	position:absolute;
	left:971px;
	top:28px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2750 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:20px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2751 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:337px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2752 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:654px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2753 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:83px;
	height:32px;
	position:absolute;
	left:971px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2754 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:20px;
	top:106px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2755 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:337px;
	top:106px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2756 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:654px;
	top:106px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2757 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:32px;
	position:absolute;
	left:971px;
	top:106px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2758 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:108px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2759 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:425px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2760 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:742px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2761 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:59px;
	height:32px;
	position:absolute;
	left:1059px;
	top:189px;
	font-family:Futura Md BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e618_2762 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:209px;
	height:29px;
	position:absolute;
	left:20px;
	top:64px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2763 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:193px;
	height:29px;
	position:absolute;
	left:337px;
	top:64px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2764 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:136px;
	height:29px;
	position:absolute;
	left:654px;
	top:64px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2765 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:104px;
	height:29px;
	position:absolute;
	left:971px;
	top:64px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2766 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:52px;
	height:29px;
	position:absolute;
	left:20px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2767 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:70px;
	height:29px;
	position:absolute;
	left:337px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2768 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:70px;
	height:29px;
	position:absolute;
	left:654px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2769 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:52px;
	height:29px;
	position:absolute;
	left:971px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2770 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:20px;
	top:147px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2771 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:337px;
	top:147px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2772 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:654px;
	top:147px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2773 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:134px;
	height:29px;
	position:absolute;
	left:971px;
	top:147px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2774 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:108px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2775 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:425px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2776 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:742px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2777 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:153px;
	height:29px;
	position:absolute;
	left:1059px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2778 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:52px;
	top:277px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2779 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:369px;
	top:277px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2780 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:686px;
	top:277px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2781 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:122px;
	height:29px;
	position:absolute;
	left:1003px;
	top:277px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2782 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:20px;
	top:281px;
}
.e618_2783 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:337px;
	top:281px;
}
.e618_2784 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:654px;
	top:281px;
}
.e618_2785 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:21.824832916259766px;
	height:21.826000213623047px;
	position:absolute;
	left:971px;
	top:281px;
}
.e618_2786 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:52px;
	top:321px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2787 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:369px;
	top:321px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2788 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:686px;
	top:321px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2789 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:1003px;
	top:321px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2790 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:20px;
	top:324px;
}

.e618_2791 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2792 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2793 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:337px;
	top:324px;
}

.e618_2794 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2795 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2796 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:654px;
	top:324px;
}

.e618_2797 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2798 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2799 { 
	width:23.3747615814209px;
	height:23.3747615814209px;
	position:absolute;
	left:971px;
	top:324px;
}

.e618_2800 { 
	width:13.749761581420898px;
	height:13.749761581420898px;
	position:absolute;
	left:9.625px;
	top:0px;
}

.e618_2801 { 
	width:20.625px;
	height:20.625px;
	position:absolute;
	left:0px;
	top:2.7497620582580566px;
}
.e618_2802 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:52px;
	top:363px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2803 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:60px;
	height:29px;
	position:absolute;
	left:369px;
	top:363px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2804 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:60px;
	height:29px;
	position:absolute;
	left:686px;
	top:363px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2805 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:79px;
	height:29px;
	position:absolute;
	left:1003px;
	top:363px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2806 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:15px;
	top:364px;
}
.e618_2807 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:332px;
	top:364px;
}
.e618_2808 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:649px;
	top:364px;
}
.e618_2809 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:28px;
	height:28px;
	position:absolute;
	left:966px;
	top:364px;
}
.e618_2810 { 
	width:140px;
	height:65px;
	position:absolute;
	left:1734px;
	top:37px;
}
.e618_2811 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:140px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e618_2812 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:23px;
	height:21px;
	position:absolute;
	left:24px;
	top:20px;
}
.e618_2813 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
