.e561_2333 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e561_2335 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:1920px;
	height:123px;
	position:absolute;
	left:0px;
	top:0px;
}

.button{
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(98.00000175833702, 0, 0, 1);
	width:259px;
	height:65px;
	position:absolute;
	left:830px;
	top:922px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	cursor: pointer;
	font-family:Futura Bk BT;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}

.e561_2341 { 
	width:463px;
	height:67px;
	position:absolute;
	left:49px;
	top:28px;
	background-image:url(../../../images/fluxo_aluno/termos_uso/logo_siaae_horizontal_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e561_2342 { 
	width:1037px;
	height:595px;
	position:absolute;
	left:442px;
	top:210px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.e561_2343 { 
	width:666px;
	height:41px;
	position:absolute;
	left:629px;
	top:843px;
}

.e561_2344 { 
	width:42px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e561_2345 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:610px;
	height:29px;
	position:absolute;
	left:56px;
	top:6px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e561_2346 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:475px;
	height:41px;
	position:absolute;
	left:501px;
	top:258px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e561_2347 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:922px;
	height:396px;
	position:absolute;
	left:501px;
	top:346px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e561_2348 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:7px;
	height:410px;
	position:absolute;
	left:1447px;
	top:306px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e561_2349 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:7px;
	height:147px;
	position:absolute;
	left:1447px;
	top:306px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}

.e618_2344 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:158px;
	height:29px;
	position:absolute;
	left:52px;
	top:19px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}