
.e444_961 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e444_989 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:265px;
	height:53px;
	position:absolute;
	left:440px;
	top:230px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e444_1061 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2284 { 
	width:265px;
	height:32px;
	position:absolute;
	left:38px;
	top:435px;
}
.e618_2285 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:212px;
	height:30px;
	position:absolute;
	left:53px;
	top:1px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2286 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2287 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.00110626220703px;
	height:32.000389099121094px;
	position:absolute;
	left:-0.0006244080141186714px;
	top:-0.0000028132346869824687px;
}
.e618_2251 { 
	width:239px;
	height:30px;
	position:absolute;
	left:34px;
	top:386px;
}
.e618_2252 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2253 { 
	width:41px;
	height:17px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei618_2253_7_1326 { 
	width:32.960784912109375px;
	height:17px;
	position:absolute;
	left:8.039215087890625px;
	top:0px;
}
.ei618_2253_7_1327 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2253_7_1328 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2253_7_1329 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2253_7_1330 { 
	width:4.0196075439453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei618_2253_7_1331 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2253_7_1332 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2253_7_1333 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e444_1062 { 
	width:230px;
	height:96px;
	position:absolute;
	left:88px;
	top:44px;
	background-image:url(../../../images/fluxo_aluno/candidaturas/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e444_1063 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:296px;
	height:36px;
	position:absolute;
	left:55px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_1074 { 
	width:87px;
	height:29px;
	position:absolute;
	left:41px;
	top:1005px;
}
.e444_1075 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:53px;
	height:29px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e444_1076 { 
	width:25.670000076293945px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e444_1077 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:25.852235794067383px;
	height:27.988332748413086px;
	position:absolute;
	left:0.0015974711859598756px;
	top:-0.0011661897879093885px;
}
.e444_1086 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:73px;
	height:35px;
	position:absolute;
	left:449px;
	top:318px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_1087 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:199px;
	height:28px;
	position:absolute;
	left:449px;
	top:389px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1088 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:114px;
	height:28px;
	position:absolute;
	left:753px;
	top:389px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1089 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:65px;
	height:28px;
	position:absolute;
	left:1778px;
	top:389px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1090 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:1095px;
	top:389px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1103 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:126px;
	height:28px;
	position:absolute;
	left:449px;
	top:523px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1104 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:753px;
	top:523px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1105 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:97px;
	height:28px;
	position:absolute;
	left:1742px;
	top:523px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1106 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:1095px;
	top:523px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1107 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:177px;
	height:28px;
	position:absolute;
	left:449px;
	top:456px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1108 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:108px;
	height:28px;
	position:absolute;
	left:753px;
	top:456px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1109 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:112px;
	height:28px;
	position:absolute;
	left:1726px;
	top:456px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1110 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:1095px;
	top:456px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1111 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:88px;
	height:28px;
	position:absolute;
	left:449px;
	top:590px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1112 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:116px;
	height:28px;
	position:absolute;
	left:753px;
	top:590px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1113 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:97px;
	height:28px;
	position:absolute;
	left:1742px;
	top:590px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1114 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:147px;
	height:28px;
	position:absolute;
	left:1095px;
	top:590px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e444_1115 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:239px;
	height:35px;
	position:absolute;
	left:753px;
	top:318px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_1116 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:81px;
	height:35px;
	position:absolute;
	left:1765px;
	top:318px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_1117 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:57px;
	height:35px;
	position:absolute;
	left:1095px;
	top:318px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_1118 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:1427px;
	height:2px;
	position:absolute;
	left:440px;
	top:365px;
}
.e444_1119 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:1427px;
	height:2px;
	position:absolute;
	left:440px;
	top:435px;
}
.e444_1120 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:1427px;
	height:2px;
	position:absolute;
	left:440px;
	top:569px;
}
.e444_1121 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:1427px;
	height:2px;
	position:absolute;
	left:440px;
	top:502px;
}
.e444_1150 { 
	border-radius:500px;
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1848px;
	top:536px;
}
.e444_1153 { 
	border-radius:500px;
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1848px;
	top:603px;
}
.e444_1151 { 
	border-radius:500px;
	background-color:rgba(208.24999898672104, 184.50949609279633, 59.87188249826431, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1848px;
	top:469px;
}
.e444_1152 { 
	border-radius:500px;
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1848px;
	top:402px;
}
.e618_2160 { 
	width:318px;
	height:37.3583984375px;
	position:absolute;
	left:37px;
	top:330px;
}
.e618_2161 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:30px;
	position:absolute;
	left:54px;
	top:4px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_2162 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:34.2138671875px;
	height:37.3583984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2311 { 
	width:140px;
	height:65px;
	position:absolute;
	left:1732px;
	top:37px;
}
.e618_2312 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:140px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e618_2313 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:23px;
	height:21px;
	position:absolute;
	left:24px;
	top:20px;
}
.e618_2314 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
