.e444_934 {
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1912px;
	height:953px;
	position:absolute;
}
.e444_935 {
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:953px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2288 {
	width:265px;
	height:32px;
	position:absolute;
	left:38px;
	top:435px;
}
.e618_2289 {
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:212px;
	height:30px;
	position:absolute;
	left:53px;
	top:1px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2290 {
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2291 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.00110626220703px;
	height:32.000389099121094px;
	position:absolute;
	left:-0.0006244080141186714px;
	top:-0.0000028132346869824687px;
}
.e618_2262 {
	width:239px;
	height:30px;
	position:absolute;
	left:34px;
	top:386px;
}
.e618_2263 {
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2264 {
	width:41px;
	height:17px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei618_2264_7_1326 {
	width:32.960784912109375px;
	height:17px;
	position:absolute;
	left:8.039215087890625px;
	top:0px;
}
.ei618_2264_7_1327 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2264_7_1328 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2264_7_1329 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2264_7_1330 {
	width:4.0196075439453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei618_2264_7_1331 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2264_7_1332 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2264_7_1333 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e444_936 {
	width:230px;
	height:96px;
	position:absolute;
	left:88px;
	top:44px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e444_937 {
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:296px;
	height:36px;
	position:absolute;
	left:55px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e444_948 {
	width:87px;
	height:29px;
	position:absolute;
	left:41px;
	top:870px;
}
.e444_949 {
	color:rgba(154.00000602006912, 0, 0, 1);
	width:53px;
	height:29px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e444_950 {
	width:25.670000076293945px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e444_951 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:25.852235794067383px;
	height:27.988332748413086px;
	position:absolute;
	left:0.0015974711859598756px;
	top:-0.0011661897879093885px;
}
.e444_952 {
	width:1150px;
	height:767px;
	position:absolute;
	left:513px;
	top:156px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/illustration_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e618_2163 {
	width:318px;
	height:37.3583984375px;
	position:absolute;
	left:37px;
	top:330px;
}
.e618_2164 {
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:30px;
	position:absolute;
	left:54px;
	top:4px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2165 {
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:34.2138671875px;
	height:37.3583984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.candidatar{
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/cadastrar.svg);
	background-repeat:no-repeat;
	background-size:cover;

}
.listar_vagas{
	width:35px;
	height:15px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/listar.svg);
	background-repeat:no-repeat;
	background-size:cover;

}
.configuracoes{
	width:35px;
	height:35px;
	position:absolute;
	left:-4px;
	top:-5px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/config.svg);
	background-repeat:no-repeat;
	background-size:cover;

}
.sair{
	width:26px;
	height:30px;
	position:absolute;
	left:0px;
	top:-2px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/sair.svg);
	background-repeat:no-repeat;
	background-size:cover;
}
