
.page-content {
    padding: 50px;
    height: 100%;
    overflow-y: scroll;
}

#div-page-content {
    height: 100%;
    overflow-y: auto;
}

#div-titulo {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

#div-dados-empresa {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}


@media (max-width: 425px) {
    h4 {
        margin: 0px;
    }

    #button-voltar {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-right: 10px;
    }

    #div-page-content {
        padding: 20px;
    }
}

