#div-page-content {
    height: 100%;
    overflow-y: auto;
}

.system-button {
    margin-right: 20px;
}

/* Vertical Line*/
.vl {
    width: 5px;
    height: 80%;
    align-self: center;
    justify-content: center;
    background-color: var(--cor--cinza-escuro);
    margin-top: 100%;
    margin-bottom: auto;
}

#div-page-content {
    padding: 20px;
}

#div-page-content .row{
    width: 100%;
    margin: 20px auto;
}

#dados_perfil label {
    font-size: 1.2rem;
    margin-right: 30px;
}

input[type='file'] {
    display: none
}

.input-wrapper label {
    background-color: var(--cor--cinza-escuro);
    border-radius: 5px;
    color: var(--cor-grafite);
    margin: 10px;
    padding: 6px 20px
}

#file-name {
    display: block;
    color: var(--cor-vermelho);
}

#div-descricao {
    height: 100px;
}

#dados_contatos .row{
    width: 100%;
}

#dados_contatos h6 {
    font-size: 1.2rem;
}

#dados_contatos label {
    background-color: var(--cor--cinza-escuro);
    color: var(--cor-grafite);
    height: 50px;
    margin: 5px 5px;
    border: 1px solid var(--cor--cinza-escuro);
    border-radius: 5px;
}

#div-acoes-contato {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#div-acoes-contato button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#div-acoes-contato #button-adicionar {
    width: 50px;
    height: 50px;
    line-height: 30px;
}

#button-atualizar {

}

@media (max-width: 768px) {
    #div-button-voltar {
        margin-bottom: 0px !important;
    }
    #button-voltar {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0px auto;
    }
    #button-atualizar {
        margin: 0px auto;
    }
    .input-wrapper label {
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
    }
    .system-d-sm-none {
        display: none;
    }
    #dados_contatos .div-input, .div-contato, .div-contato label {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.group {
    position:relative;
}

.next-input-siaae{
    margin-top: 1em;
}

.select-siaae{
    margin: 0 auto;
    padding-bottom: 0.5em;
    padding-top: 1em;
    padding-left: 0.5em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #eaeaea;
}


.input-siaae {
    font-size:15px;
    /*padding:10px 10px 10px 5px;*/
    padding-bottom: 0.5em;
    padding-top: 1.2em;
    padding-left: 0.5em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #eaeaea;
}

.input-error-siaae{
    border: 1px solid #FF0000FF;
}

.error-text{
    position: relative;
    margin-top: 0.5em;
    font-size: 12px;
    color: #FF0000FF;
}

.input-siaae:focus {
    outline:none;
    border: 1px solid #5BB85D;
}

.tesdas{
    display: flex;
}


.label-siaae {
    color: #979797;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:15px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.input-siaae:focus ~ .label-siaae , .input-siaae:valid ~ .label-siaae   {
    top: 4px;
    left:0.6em;
    color: #757575;
    font-size:12px;
}

.text-area-vaga{
    background-color: #eaeaea;
    height: 1020px;
    resize: none;
    border-color: transparent;
}

.desc-input{
    width: 90%;
}
