*{
	position:absolute;
}
/* div contem todo o site */
.e444_934 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1920px;
	height:1080px;
}

/* div da barra lateral */
.e444_935 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:1080px;

}

/* div botão configurações */
.e618_2288 { 
	width:265px;
	height:32px;
	left:38px;
	top:435px;
}

.cor-aluno {
	background-color:rgba(154.00000602006912, 0, 0, 1);
}

.font-stats {
	color:rgba(68,68,68, 1);
	text-align:left;
	font-family:Futura Bk BT;
	height:30px;
}

/* span texto do botão configuraçoes */
.e618_2289 { 
	width:212px;
	left:53px;
	font-size:25px;
	letter-spacing:0;
}

/* icone botão configurações */
.e618_2290 { 
	width:32px;
	height:32px;
}

/* div lista de vagas*/
.e618_2262 { 
	width:239px;
	left: 34px;
	top: 386px;
}

/*span texto lista de vagas*/
.e618_2263 { 
	width:182px;
	left:57px;
	font-size:25px;
	letter-spacing:0;
}

/* div quadrado e618_2264 */
.e618_2264 { 
	width:41px;
	height:17px;
	top: 7px;
}

/* quadrados completo */
.ei618_2264_7_1326 { 
	width:32px;
	height:17px;
	left:8.039215087890625px;
}

.retangulo {
	width:32px;
	height:4px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}

/* retangulo 2 */
.ei618_2264_7_1328 { 
	top:6.476190567016602px;
}

/* retangulo 3 */
.ei618_2264_7_1329 { 
	top:12.952381134033203px;
}

/* pontos ao lado  */
.ei618_2264_7_1330 { 
	width:4px;
	height:17px;
}

.ponto {
	width:4px;
	height:4px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}


/*ponto lado 2*/
.ei618_2264_7_1332 { 
	top: 6.476190567016602px;
}

/*ponto lado 3*/
.ei618_2264_7_1333 { 
	margin-top: 12.952381134033203px;
}

/*logo siaae*/
.e444_936 { 
	width:230px;
	height:96px;
	left: 88px;
	top: 44px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*texto "Bem vindo, fulaninho!"*/
.e444_937 { 
	width:296px;
	height:36px;
	left:55px;
	top:234px;
	font-size:30px;
	letter-spacing:0;
}

/*div sair*/
.e444_948 { 
	width:87px;
	height:29px;
	left:41px;
	top:1005px;
}

/* span text "SAIR"*/
.e444_949 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:53px;
	left:34px;
	font-size:25px;
	letter-spacing:0;
}

/*div icone*/
.e444_950 { 
	width:25px;
	height:28px;
}

/*div icone 2*/
.e444_951 { 
	width:25px;
	height:27px;
}

/*background area ao lado*/
.e444_952 { 
	width:1150px;
	height:767px;
	left:513px;
	top:156px;
	background-image:url(../../../images/fluxo_aluno/home_aluno/illustration_1.png);
	background-repeat: no-repeat;
	background-size:cover;
}

/*div menu "Cadastra-se"*/
.e618_2163 { 
	width:318px;
	height:37px;
	left:37px;
	top:330px;
}

/*span "CADASTRE-SE Á VAGAS"*/
.e618_2164 { 
	width:264px;
	left:54px;
	top:4px;
	font-size:25px;
	letter-spacing:0;
}

/*icone*/
.e618_2165 { 
	width:34px;
	height:37px;
}
