@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura-medium';
    src: url("../assets/fonts/futura.otf");
    font-display: swap;
}

:root {
    --cor-vermelho-escuro: #620000;
    --cor-vermelho: #9A0000;
    --cor-verde: #5BB85D;
    --cor-verde-escuro: #409041;
    --cor--cinza: #EAE8E8;
    --cor--cinza-escuro: #C4C4C4;
    --cor-grafite: #5C5C5C
}

body, html {
    height: 100%;
    margin: 0px;
    font-family: 'Futura-medium', serif;
}

.div-main {
    display: flex;
    background-color: #fff;
}

.system-button {
    display: block;
    border-radius: 16px;
    width: 140px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-family: 'Futura-medium', serif;
    transition: background-color 1s, border 1s;
}

.system-button-vermelho {
    background-color: var(--cor-vermelho-escuro);
    border: 1px solid var(--cor-vermelho-escuro);
    color: #fff;

}

.system-button-vermelho:hover {
    color: #fff;
    background-color: var(--cor-vermelho);
    border-color: #fff;
}

.system-button-vermelho-claro {
    background-color: var(--cor-vermelho);
    border: 1px solid var(--cor-vermelho);
    color: #fff;

}

.system-button-vermelho-claro:hover {
    color: #fff;
    background-color: var(--cor-vermelho-escuro);
    border-color: #fff;
}

.system-button-verde {
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    color: #fff;
}

.system-button-verde:hover {
    background-color: var(--cor-verde-escuro);
    border: 1px solid var(--cor-verde-escuro);
}

.system-button-verde-escuro {
    background-color: var(--cor-verde-escuro);
    border: 1px solid var(--cor-verde-escuro);
    color: #fff;
}
.system-button-verde-escuro:hover {
    background-color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    color: #fff;
}

.system-button-cinza {
    background-color: var(--cor--cinza-escuro);
    border: 1px solid var(--cor--cinza-escuro);
    color: var(--cor-grafite);
}

.system-button-branco {
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--cor-verde-escuro);
}


.system-card {
    border-radius: 18px;
    border: 1px solid var(--cor--cinza-escuro);
}

.system-input {
    background-color: var(--cor--cinza-escuro);
    color: var(--cor-grafite);
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor--cinza-escuro);
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.system-input-toggle:checked + .slider {
    background-color: var(--cor-verde);
}

.system-input-toggle:focus + .slider {
    box-shadow: 0 0 1px var(--cor-verde);
}

.system-input-toggle:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
