.div-main {
    display: flex;
    height: 100%;
}

#div-nav {
    background-color: var(--cor--cinza);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-nav img {
    display: block;
    margin: 20px auto 30px;
}

#div-nav ul {
    position: absolute;
    left: 20px;
    font-size: 1rem;
}

#div-nav ul li{
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
}

#div-nav a {
    text-decoration: none;
    color: #000;
}

#div-nav .icon {
    color: var(--cor-vermelho);
    margin-right: 5px;
}

#div-page-content img{
    width: 90%;
    height: auto;
}
