body {
    background-color: #fff !important;
    overflow-x: hidden;
}

.div-main {
    display: flex;
    background-color: #fff;
    padding: 50px;
    margin-top: 60px;
}

.page-content {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-termos-de-uso {
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--cor--cinza-escuro);
    margin: 30px auto;
}

#div-termos-de-uso h4 {
    font-size:  1.3rem;
}

#div-termos-de-uso-text {
    padding: 0px 20px;
    height: 200px;
    overflow-y: scroll;
}

#div-termos-de-uso-text p{
    text-align: justify;
}

#div-termos-de-uso-text::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
    border-radius: 18px;
}

#div-termos-de-uso-text::-webkit-scrollbar-track {
    background: var(--cor--cinza);        /* color of the tracking area */
    border-radius: 18px;
}

#div-termos-de-uso-text::-webkit-scrollbar-thumb {
    border-radius: 18px;
    width: 10px;
    background-color: var(--cor--cinza-escuro);
    height: 50px;
}

.page-content button {
    margin-top: 20px;
}

@media (max-width: 425px) {
    .div-main {
        padding: 10px;
    }
    .page-content {
        margin: 10px;
    }
}
