.e448_588 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1912px;
	height:953px;
	position:absolute;
}
.e448_594 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:953px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2292 { 
	width:265px;
	height:32px;
	position:absolute;
	left:38px;
	top:435px;
}
.e618_2293 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:212px;
	height:30px;
	position:absolute;
	left:53px;
	top:1px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2294 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_2295 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.00110626220703px;
	height:32.000389099121094px;
	position:absolute;
	left:-0.0006244080141186714px;
	top:-0.0000028132346869824687px;
}
.e618_2273 { 
	width:239px;
	height:30px;
	position:absolute;
	left:34px;
	top:386px;
}
.e618_2274 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2275 { 
	width:41px;
	height:17px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei618_2275_7_1326 { 
	width:32.960784912109375px;
	height:17px;
	position:absolute;
	left:8.039215087890625px;
	top:0px;
}
.ei618_2275_7_1327 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2275_7_1328 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2275_7_1329 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2275_7_1330 { 
	width:4.0196075439453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei618_2275_7_1331 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2275_7_1332 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_2275_7_1333 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e618_2237 { 
	width:318px;
	height:37.3583984375px;
	position:absolute;
	left:37px;
	top:330px;
}
.e618_2238 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:30px;
	position:absolute;
	left:54px;
	top:4px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e618_2239 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:34.2138671875px;
	height:37.3583984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_595 { 
	width:230px;
	height:96px;
	position:absolute;
	left:88px;
	top:44px;
	background-image:url(../../../images/fluxo_aluno/configuracoes/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_596 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:296px;
	height:36px;
	position:absolute;
	left:55px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e448_607 { 
	width:87px;
	height:29px;
	position:absolute;
	left:41px;
	top:870px;
}
.e448_608 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:53px;
	height:29px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e448_609 { 
	width:25.670000076293945px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e448_610 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:25.852235794067383px;
	height:27.988332748413086px;
	position:absolute;
	left:0.0015974711859598756px;
	top:-0.0011661897879093885px;
}
.e357_746 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:118px;
	height:32px;
	position:absolute;
	left:482px;
	top:126px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e357_788 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:106px;
	height:32px;
	position:absolute;
	left:482px;
	top:277px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e448_652 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:107px;
	height:32px;
	position:absolute;
	left:479px;
	top:501px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e357_773 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:181px;
	height:32px;
	position:absolute;
	left:482px;
	top:60px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e448_651 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:66px;
	height:24px;
	position:absolute;
	left:822px;
	top:60px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e357_758 { 
	width:450px;
	height:55px;
	position:absolute;
	left:482px;
	top:170px;
}
.e357_765 { 
	width:450px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}
.e357_766 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:450px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.e357_767 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:409px;
	height:26px;
	position:absolute;
	left:21px;
	top:15px;
	font-family:Abhaya Libre ExtraBold;
	text-align:center;
	font-size:20px;
	letter-spacing:-2;
}
.e357_778 { 
	width:609px;
	height:48px;
	position:absolute;
	left:479px;
	top:322px;
}
.ei357_778_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:609px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei357_778_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:560.780029296875px;
	height:21px;
	position:absolute;
	left:30.36070442199707px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.ei357_778_89_92 { 
	width:1.7859230041503906px;
	height:17px;
	position:absolute;
	left:17.859237670898438px;
	top:23px;
	border-radius:8px;
}
.ei357_778_89_96 { 
	width:560.780029296875px;
	height:17px;
	position:absolute;
	left:17.859237670898438px;
	top:23px;
	font-family:Fugaz One;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e357_783 { 
	width:606px;
	height:48px;
	position:absolute;
	left:482px;
	top:430px;
}
.ei357_783_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:606px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei357_783_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:558.0176391601562px;
	height:21px;
	position:absolute;
	left:30.211143493652344px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.ei357_783_89_92 { 
	width:1.7771263122558594px;
	height:17px;
	position:absolute;
	left:17.77126121520996px;
	top:23px;
	border-radius:8px;
}
.ei357_783_89_96 { 
	width:558.0176391601562px;
	height:17px;
	position:absolute;
	left:17.77126121520996px;
	top:23px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e413_524 { 
	width:605px;
	height:48px;
	position:absolute;
	left:483px;
	top:546px;
}
.ei413_524_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:605px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size:20px;
}
.ei413_524_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:557.0967407226562px;
	height:21px;
	position:absolute;
	left:30.161291122436523px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.ei413_524_89_92 { 
	width:1.7741928100585938px;
	height:17px;
	position:absolute;
	left:17.74193572998047px;
	top:23px;
	border-radius:8px;
}
.ei413_524_89_96 { 
	width:557.0967407226562px;
	height:17px;
	position:absolute;
	left:17.74193572998047px;
	top:23px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e413_529 { 
	width:609px;
	height:48px;
	position:absolute;
	left:483px;
	top:654px;
}
.ei413_529_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:609px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei413_529_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:560.780029296875px;
	height:21px;
	position:absolute;
	left:30.36070442199707px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.ei413_529_89_92 { 
	width:1.7859230041503906px;
	height:17px;
	position:absolute;
	left:17.859237670898438px;
	top:23px;
	border-radius:8px;
}
.ei413_529_89_96 { 
	width:560.780029296875px;
	height:17px;
	position:absolute;
	left:17.859237670898438px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e413_534 { 
	width:605px;
	height:48px;
	position:absolute;
	left:482px;
	top:756px;
}
.ei413_534_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:605px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei413_534_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:557.0967407226562px;
	height:21px;
	position:absolute;
	left:30.161291122436523px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.ei413_534_89_92 { 
	width:1.7741928100585938px;
	height:17px;
	position:absolute;
	left:17.74193572998047px;
	top:23px;
	border-radius:8px;
}
.ei413_534_89_96 { 
	width:557.0967407226562px;
	height:17px;
	position:absolute;
	left:17.74193572998047px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e357_795 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:75px;
	height:32px;
	position:absolute;
	left:482px;
	top:385px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
/* .e448_687 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:116px;
	height:32px;
	position:absolute;
	left:481px;
	top:826px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
} */
.e448_653 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:75px;
	height:32px;
	position:absolute;
	left:482px;
	top:609px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e448_654 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:90px;
	height:32px;
	position:absolute;
	left:481px;
	top:714px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e361_388 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:447px;
	height:28px;
	position:absolute;
	left:482px;
	top:237px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e448_649 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:87px;
	height:38px;
	position:absolute;
	left:727px;
	top:55px;
	border-top-left-radius:238px;
	border-top-right-radius:238px;
	border-bottom-left-radius:238px;
	border-bottom-right-radius:238px;
}
.e448_650 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:36px;
	position:absolute;
	left:773px;
	top:56px;
	border-top-left-radius:238px;
	border-top-right-radius:238px;
	border-bottom-left-radius:238px;
	border-bottom-right-radius:238px;
}
.e413_514 { 
	width:613px;
	height:123px;
	position:absolute;
	left:482px;
	top:800px;
}
.ei413_514_144_319 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:613px;
	height:123px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei413_514_144_326 { 
	width:0.6736268997192383px;
	height:10.351484298706055px;
	position:absolute;
	left:8.083516120910645px;
	top:9.742574691772461px;
	border-radius:8px;
}
.ei413_514_144_341 { 
	width:0.6736297607421875px;
	height:10.351484298706055px;
	position:absolute;
	left:127.989013671875px;
	top:9.742574691772461px;
	border-radius:8px;
}
.ei413_514_144_320 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:881px;
	height:21px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:18px;
	letter-spacing:-2;
}
.e448_679 { 
	transform: rotate(-90deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:783px;
	height:3px;
	position:absolute;
	left:1166px;
	top:932px;
}
.e413_547 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:32px;
	position:absolute;
	left:1258px;
	top:277px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e448_659 { 
	width:191px;
	height:54px;
	position:absolute;
	left:1258px;
	top:330px;
}
.e448_660 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:191px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.e448_661 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:175.8768310546875px;
	height:12px;
	position:absolute;
	left:7px;
	top:12px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:10px;
	letter-spacing:-2;
}
.e448_662 { 
	width:0.560117244720459px;
	height:19.125px;
	position:absolute;
	left:5.601172924041748px;
	top:25.875px;
	border-radius:8px;
}
.e448_663 { 
	width:0.56011962890625px;
	height:19.125px;
	position:absolute;
	left:42.568912506103516px;
	top:25.875px;
	border-radius:8px;
}
.e448_664 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	width:175.8768310546875px;
	height:19.125px;
	position:absolute;
	left:7.39892578125px;
	top:22px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e448_665 { 
	width:189.8797607421875px;
	height:18px;
	position:absolute;
	left:1.1202346086502075px;
	top:57.375px;
	font-family:Roboto;
	text-align:left;
	font-size:9px;
	letter-spacing:-2;
}
.e448_689 { 
	width:191px;
	height:54px;
	position:absolute;
	left:1259px;
	top:398px;
}
.e448_690 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:191px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.e448_691 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:175.8768310546875px;
	height:12px;
	position:absolute;
	left:7px;
	top:12px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:10px;
	letter-spacing:-2;
}
.e448_692 { 
	width:0.560117244720459px;
	height:19.125px;
	position:absolute;
	left:5.601172924041748px;
	top:25.875px;
	border-radius:8px;
}
.e448_693 { 
	width:0.56011962890625px;
	height:19.125px;
	position:absolute;
	left:42.568912506103516px;
	top:25.875px;
	border-radius:8px;
}
.e448_694 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	width:175.8768310546875px;
	height:19.125px;
	position:absolute;
	left:7.39892578125px;
	top:22px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e448_695 { 
	width:189.8797607421875px;
	height:18px;
	position:absolute;
	left:1.1202346086502075px;
	top:57.375px;
	font-family:Roboto;
	text-align:left;
	font-size:9px;
	letter-spacing:-2;
}
.e448_666 { 
	width:341px;
	height:54px;
	position:absolute;
	left:1459px;
	top:329px;
}
.e448_667 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:341px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.e448_668 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:314px;
	height:12px;
	position:absolute;
	left:10px;
	top:12px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:10px;
	letter-spacing:-2;
}
.e448_669 { 
	width:1px;
	height:19.125px;
	position:absolute;
	left:10px;
	top:25.875px;
	border-radius:8px;
}
.e448_670 { 
	width:1px;
	height:19.125px;
	position:absolute;
	left:76px;
	top:25.875px;
	border-radius:8px;
}
.e448_671 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	width:314px;
	height:19.125px;
	position:absolute;
	left:10px;
	top:22px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e448_672 { 
	width:339px;
	height:18px;
	position:absolute;
	left:2px;
	top:57.375px;
	font-family:Roboto;
	text-align:left;
	font-size:9px;
	letter-spacing:-2;
}
.e448_696 { 
	width:341px;
	height:54px;
	position:absolute;
	left:1460px;
	top:397px;
}
.e448_697 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:341px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.e448_698 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:314px;
	height:12px;
	position:absolute;
	left:10px;
	top:12px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:10px;
	letter-spacing:-2;
}
.e448_699 { 
	width:1px;
	height:19.125px;
	position:absolute;
	left:10px;
	top:25.875px;
	border-radius:8px;
}
.e448_700 { 
	width:1px;
	height:19.125px;
	position:absolute;
	left:76px;
	top:25.875px;
	border-radius:8px;
}
.e448_701 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	width:314px;
	height:19.125px;
	position:absolute;
	left:10px;
	top:22px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e448_702 { 
	width:339px;
	height:18px;
	position:absolute;
	left:2px;
	top:57.375px;
	font-family:Roboto;
	text-align:left;
	font-size:9px;
	letter-spacing:-2;
}
.e413_564 { 
	width:100px;
	height:42px;
	position:absolute;
	left:1645px;
	top:467px;
	border-top-left-radius:170px;
	border-top-right-radius:170px;
	border-bottom-left-radius:170px;
	border-bottom-right-radius:170px;
}
.ei413_564_45_82 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:100px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.ei413_564_45_83 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:97.7064208984375px;
	height:42px;
	position:absolute;
	left:0.9174311757087708px;
	top:10px;
	font-family:Futura Bk BT;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e448_688 { 
	width:45px;
	height:42px;
	position:absolute;
	left:1755px;
	top:467px;
}
.e448_677 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:45px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e448_678 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:31px;
	height:42px;
	position:absolute;
	left:7px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:32px;
	letter-spacing:-2;
}
.e413_617 { 
	width:339px;
	height:48px;
	position:absolute;
	left:1460px;
	top:540px;
}
.ei413_617_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:339px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei413_617_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:312.1583557128906px;
	height:21px;
	position:absolute;
	left:16.900293350219727px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:15px;
	letter-spacing:-2;
}
.ei413_617_89_92 { 
	width:0.9941349029541016px;
	height:17px;
	position:absolute;
	left:9.941349029541016px;
	top:23px;
	border-radius:8px;
}
.ei413_617_89_96 { 
	width:312.1583557128906px;
	height:17px;
	position:absolute;
	left:9.941349029541016px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e413_627 { 
	width:542px;
	height:48px;
	position:absolute;
	left:1258px;
	top:603px;
}
.ei413_627_89_62 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:542px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border: none;
	font-size: 20px;
}
.ei413_627_89_63 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:499.0850524902344px;
	height:21px;
	position:absolute;
	left:27.02052879333496px;
	top:14px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
}
.ei413_627_89_92 { 
	width:1.5894432067871094px;
	height:17px;
	position:absolute;
	left:15.894428253173828px;
	top:23px;
	border-radius:8px;
}
.ei413_627_89_96 { 
	width:499.0850524902344px;
	height:17px;
	position:absolute;
	left:15.894428253173828px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.e448_703 { 
	transform: rotate(1.5308806722812968e-22deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:542px;
	height:2px;
	position:absolute;
	left:1258px;
	top:520px;
}
.e448_680 { 
	width:160px;
	height:48px;
	position:absolute;
	left:1258px;
	top:540px;
}
.ei448_680_444_698 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:160px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.ei448_680_444_699 { 
	background-color:rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
	width:160px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border: none;
	font-size: 20px;
}
.ei448_680_444_700 { 
	background-color:rgba(148.000006377697, 147.00000643730164, 147.00000643730164, 1);
	width:20px;
	height:10px;
	position:absolute;
	left:129px;
	top:21px;
}
.ei448_680_444_701 { 
	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:131px;
	height:17px;
	position:absolute;
	left:14px;
	top:15px;
	font-family:Abhaya Libre ExtraBold;
	text-align:left;
	font-size:14px;
	letter-spacing:-2;
}
.ei448_680_444_702 { 
	background-color:rgba(148.000006377697, 147.00000643730164, 147.00000643730164, 1);
	position:absolute;
	left:119.5px;
	top:12px;
}
.i448_680_444_702 { 
	border:1px solid rgba(148.000006377697, 147.00000643730164, 147.00000643730164, 1);
}
.e413_632 { 
	width:100px;
	height:42px;
	position:absolute;
	left:1700px;
	top:665px;
}
.ei413_632_45_82 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:100px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.ei413_632_45_83 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:97.7064208984375px;
	height:42px;
	position:absolute;
	left:0.9174311757087708px;
	top:10px;
	font-family:Futura Bk BT;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e618_2299 { 
	width:212px;
	height:65px;
	position:absolute;
	left:1640px;
	top:860px;
}
.e618_2300 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:170px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e618_2301 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:92.37142944335938px;
	height:29px;
	position:absolute;
	left:42px;
	top:13px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_2303 { 
	width:140px;
	height:65px;
	position:absolute;
	left:1732px;
	top:37px;
}
.e618_2304 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:140px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e618_2305 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:23px;
	height:21px;
	position:absolute;
	left:24px;
	top:20px;
}
.e618_2306 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
