.e618_1943 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e618_1944 { 
	width:1874px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_1945 { 
	background-color:rgba(234.00000125169754, 232.00000137090683, 232.00000137090683, 1);
	width:406px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_1946 { 
	width:230px;
	height:96px;
	position:absolute;
	left:88px;
	top:44px;
	background-image:url(../../../images/fluxo_aluno/confirma_candidatura_estagio/logo_siaae_transparente_icones_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e618_1947 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:296px;
	height:36px;
	position:absolute;
	left:55px;
	top:234px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e618_1948 { 
	width:318px;
	height:37.3583984375px;
	position:absolute;
	left:37px;
	top:330px;
}
.e618_1949 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:264px;
	height:30px;
	position:absolute;
	left:54px;
	top:4px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_1950 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:34.2138671875px;
	height:37.3583984375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_1951 { 
	width:239px;
	height:30px;
	position:absolute;
	left:34px;
	top:386px;
}
.e618_1952 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:57px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_1953 { 
	width:41px;
	height:17px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei618_1953_7_1326 { 
	width:32.960784912109375px;
	height:17px;
	position:absolute;
	left:8.039215087890625px;
	top:0px;
}
.ei618_1953_7_1327 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_1953_7_1328 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_1953_7_1329 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.960784912109375px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_1953_7_1330 { 
	width:4.0196075439453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei618_1953_7_1331 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_1953_7_1332 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:6.476190567016602px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.ei618_1953_7_1333 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:4.0196075439453125px;
	height:4.047618865966797px;
	position:absolute;
	left:0px;
	top:12.952381134033203px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
}
.e618_1954 { 
	width:265px;
	height:32px;
	position:absolute;
	left:38px;
	top:435px;
}
.e618_1955 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:212px;
	height:30px;
	position:absolute;
	left:53px;
	top:1px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_1956 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_1957 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:32.00110626220703px;
	height:32.000389099121094px;
	position:absolute;
	left:-0.0006244080141186714px;
	top:-0.0000028132346869824687px;
}
.e618_1958 { 
	width:83px;
	height:30px;
	position:absolute;
	left:41px;
	top:1005px;
}
.e618_1959 { 
	color:rgba(154.00000602006912, 0, 0, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:34px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e618_1960 { 
	width:25.670000076293945px;
	height:28px;
	position:absolute;
	left:0px;
	top:1px;
}
.e618_1961 { 
	background-color:rgba(154.00000602006912, 0, 0, 1);
	width:25.852235794067383px;
	height:27.988332748413086px;
	position:absolute;
	left:0.0015974711859598756px;
	top:-0.0011661897879093885px;
}
.e618_1962 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:522px;
	height:54px;
	position:absolute;
	left:459px;
	top:129px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e618_1963 { 
	width:140px;
	height:65px;
	position:absolute;
	left:1734px;
	top:37px;
}
.e618_1964 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:140px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e618_1965 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:23px;
	height:21px;
	position:absolute;
	left:24px;
	top:20px;
}
.e618_1966 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:61px;
	height:29px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e618_1967 { 
	transform: rotate(-0.5608334497461219deg);
	width:112.3075180053711px;
	height:112.05364227294922px;
	position:absolute;
	left:458px;
	top:216.099365234375px;
	background-image:url(images/icone.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e618_1968 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:331px;
	height:35px;
	position:absolute;
	left:596px;
	top:237.000244140625px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
}
.e618_1969 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:331px;
	height:35px;
	position:absolute;
	left:459px;
	top:572px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
}
.e618_1970 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:424px;
	height:35px;
	position:absolute;
	left:459px;
	top:709px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
}
.e618_1971 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:424px;
	height:35px;
	position:absolute;
	left:459px;
	top:818px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:32px;
	letter-spacing:-2;
}
.e618_1972 { 
	color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:101px;
	height:22px;
	position:absolute;
	left:596px;
	top:278px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:16px;
	letter-spacing:-2;
}
.e618_1973 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:184px;
	height:24px;
	position:absolute;
	left:458px;
	top:383px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1974 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:215px;
	height:24px;
	position:absolute;
	left:458px;
	top:446px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1975 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:399px;
	height:24px;
	position:absolute;
	left:459px;
	top:509px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1976 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:1253px;
	height:58px;
	position:absolute;
	left:459px;
	top:629px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:-2;
}
.e618_1977 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:1253px;
	height:30px;
	position:absolute;
	left:459px;
	top:766px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:25px;
	letter-spacing:-2;
}
.e618_1978 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:1253px;
	height:58px;
	position:absolute;
	left:459px;
	top:875px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:24px;
	letter-spacing:-2;
}
.e618_1979 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:210px;
	height:24px;
	position:absolute;
	left:713px;
	top:446px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1980 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:196px;
	height:24px;
	position:absolute;
	left:962px;
	top:446px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1981 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:177px;
	height:24px;
	position:absolute;
	left:713px;
	top:383px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1982 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:113px;
	height:24px;
	position:absolute;
	left:962px;
	top:383px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1983 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:226px;
	height:24px;
	position:absolute;
	left:1146px;
	top:383px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1984 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:1442px;
	top:385px;
	font-family:Futura Bk BT;
	text-align:left;
	font-size:20px;
	letter-spacing:-2;
}
.e618_1985 { 
	width:218px;
	height:63px;
	position:absolute;
	left:1534px;
	top:223px;
}
.ei618_1985_45_82 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:218px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei618_1985_45_83 { 
	color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:213px;
	height:63px;
	position:absolute;
	left:2px;
	top:0px;
	font-family:Futura Bk BT;
	text-align:center;
	font-size:24px;
	letter-spacing:-2;
}
.e618_1986 { 
	background-color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e618_1987 { 
	width:688px;
	height:475px;
	position:absolute;
	left:616px;
	top:302px;
}
.e618_1988 { 
	box-shadow:7px 4px 10px rgba(0, 0, 0, 0.25);
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:688px;
	height:475px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.e618_1989 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:334px;
	height:190px;
	position:absolute;
	left:177px;
	top:143px;
}
.e618_1990 { 
	color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1);
	width:334px;
	height:84px;
	position:absolute;
	left:0px;
	top:106px;
	font-family:Futura Bk BT;
	text-align:center;
	font-size:35px;
	letter-spacing:-2;
}
.e618_1991 { 
	background-color:rgba(91.00000217556953, 184.00000423192978, 93.00000205636024, 1);
	width:86px;
	height:86px;
	position:absolute;
	left:124px;
	top:0px;
}
.e618_1992 { 
	background-color:rgba(242.24999696016312, 241.24061912298203, 241.24061912298203, 1);
	width:60px;
	height:52px;
	position:absolute;
	left:137px;
	top:17px;
}
