.div-main {
    display: flex;
    height: 100%;
}

#div-page-content img{
    width: 100%;
}

img{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 10em;
}

@media only screen and (max-width: 480px) {
    img {
        width: 100%;
    }
}


